.quick-navigation{
    background-color: #231C1E;
    padding: 0 40px;

    @include responsive(md){
        padding: 0 20px;
    }

    .inner{
        max-width: 1400px;
        margin: 0 auto;
        padding: 60px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 2px solid white;

        @include responsive(sm){
            justify-content: center;
        }


        .prev-page{
            cursor: pointer;
            padding: 12px 22px;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;

            @include responsive(lg){
                padding: 12px 22px 12px 0px;
            }

            @include responsive(sm){
                order: 1;
                width: 50%;
                gap: 10px;
            }
            @include responsive(xs){
                gap: 5px;
                padding: 12px 8px 12px 0px;
            }

            img{
                width: 35px;  

                @include responsive(xs){
                    width: 25px;
                }

                path {
                    
                    &:hover{
                        fill: #000;
                    }
                }
            }

            p{
                color: #FAE9D7;
                font-size: 31px;
                font-family: 'Bentago';
                text-transform: capitalize;
                transition: all 0.4s ease-in-out;

                &:hover{
                    text-decoration: underline;
                    color: #FFC588;
                }

                @include responsive(md){
                    font-size: 24px;
                }
                @include responsive(sm){
                    font-size: 18px;
                }
                @include responsive(xs){
                    font-size: 14px;
                }
            }
        }
        .heading-wrap{
            padding: 15px;

            @include responsive(sm){
                order: 0;
                width: 100%;
                text-align: center;
            }

            h2{
                color: #C29F7B;
                font-size: 62px;
                font-family: 'Bentago';
                transition: all 0.4s ease-in-out;

                &:hover{
                    text-decoration: underline;
                }

                @include responsive(lg){
                    font-size: 50px;
                }
                @include responsive(md){
                    font-size: 30px;
                }
                @include responsive(sm){
                    font-size: 28px;
                }
            }
        }

        .next-page{
            cursor: pointer;
            padding: 12px 22px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: flex-start;

            @include responsive(lg){
                padding: 12px 0px 12px 22px;
            }
            @include responsive(sm){
                order: 2;
                width: 50%;
                gap: 10px;
            }
            @include responsive(xs){
                gap: 5px;
                padding: 12px 0 12px 8px;
            }

            p{
                color: #FAE9D7;
                font-size: 31px;
                font-family: 'Bentago';
                text-transform: capitalize;
                transition: all 0.4s ease-in-out;

                &:hover{
                    text-decoration: underline;
                    color: #FFC588;
                }

                @include responsive(md){
                    font-size: 24px;
                }
                @include responsive(sm){
                    font-size: 18px;
                }
                @include responsive(xs){
                    font-size: 14px;
                }
            }
            img{
                width: 35px;

                @include responsive(xs){
                    width: 25px;
                }
            }
        }
    }
}