@font-face {
    font-family: 'Charlevoix Pro';
    src: url(../assets/fonts/CharlevoixPro-Regular.otf);
}
@font-face {
    font-family: 'Bentago';
    src: url(../assets/fonts/Black-Studio-Bentoga-Thin.ttf);
}