header{
    background-image: linear-gradient(180deg, #5E7584 0%, #F2295B00 94%);
    width: 100%;
    &.close{
        .hamburger{
            display: none;
        }
        .cross{
            display: block;
        }
    }
    .cross{
        display: none;
    }
    @include responsive(lg){
        transition: background-color 0.15s ease-in-out;
        &.scrolled{
            background-color: #191d23;
        }
        position: fixed;
        z-index: 100;
        background-image: unset;
        // background-color: #191D23;
    }
    
    // @include responsive(md){
    //     // background: linear-gradient(90deg, #2D4241 0%, #F2295B01 15%),
    //                 // linear-gradient(270deg, #2D4241 0%, #F2295B01 15%);
    // }
    // @include responsive(sm){
    //     background: unset;
    // }
    .header-wrap{
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(xl){
            padding: 30px;
        }
        .links{
            width: calc(50% - 81px);
            padding-right: 80px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @include responsive(lg){
                // display: none;   //remove 
                position: absolute;
                // inset: 0;
                // background-color: #5e7584;
                // height: 100vh;
                flex-direction: column;
                align-items: flex-start; 
                padding-right: 0px;
                width: unset;
                padding-top: 150px;
            }
            .link{
                color: #F4E9D7;
                cursor: pointer;
                text-transform: uppercase;
                font-family: 'Charlevoix Pro';
                padding: 15px 0px;
                font-weight: 900;
                text-decoration: none;
                margin-right: 30px;
                &:hover{
                    transition: color;
                    color: #fff;
                    text-decoration: underline;
                    transition: 0.3s ease;
                }
                &:last-child{
                    margin-right: 0px;
                }
                @include responsive(lg){
                    display: none; //remove
                    margin-right: 0px;
                    margin-left: 32px;
                    font-size: 30px;
                    font-family: 'Bentago';
                    text-transform: capitalize;
                    font-weight: normal;
                    padding: 12px 0px;
                }
            }
        }
        .logo-wrap{
            a{
                cursor: pointer;
                .logo{
                    width: 158px;
                    mix-blend-mode: screen;
                    @include responsive(xl){
                        width: 125px;
                    }
                    @include responsive(lg){
                        width: 72px;
                    }
                }
            }
        }
        .schedule-button{
            width: calc(50% - 81px);
            display: flex;
            justify-content: flex-end;
            @include responsive(lg){
                display: none;
            }
            a{
                color: #fff;
                cursor: pointer;
                font-family: 'Charlevoix Pro';
                text-transform: uppercase;
                text-decoration: none;
                border-style: solid;
                border-width: 1px;
                border-color: #fff;
                padding: 20px 30px;
                &:hover{
                    transition: 0.3s ease;
                    color: #FFC588;
                    text-decoration: underline;
                    background-color: #996936;
                    border-color: #FFC588;
                }
            }
        }
        .menu-button{
            display: none;
            @include responsive(lg){
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                z-index: 99;
                img{
                    width: 28px;
                    cursor: pointer;
                }
                .hamburger{
                    margin-right: 10px;
                }
                .cross{
                    width: 20px;
                    margin-right: 5px;
                }
                span{
                    font-size:18px;
                    cursor: pointer;
                    color: #fff;
                    font-family: 'Charlevoix Pro';
                    text-transform: uppercase;
                    @include responsive(lg){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}