.hero{
    background-image: linear-gradient(360deg, #5E7584 0%, #F4E9D701 25%);
    // @include responsive(md){
    //     // background-image: unset;
    //     // background: linear-gradient(90deg, #2D4241 0%, #F2295B01 15%),
    //                 // linear-gradient(270deg, #2D4241 0%, #F2295B01 15%),
    //                 // linear-gradient(360deg, #2D4241 0%, #F2295B01 24%);
    // }
    // @include responsive(sm){
    //     // background: linear-gradient(360deg, #2D4241 0%, #F2295B01 24%);
    // }
    .background-image{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
        @media(max-width:1370px){
            height: 100vh;
            object-fit: cover;
        }        
        @include responsive(md){
            position: absolute;
            height: 72vh;
        }
        @include responsive(sm){
            height: 68vh;
        }
        @include responsive(xs){
            height: 75vh;
        }
        @media(max-height:945px){
            height: 100%;
        }
    }
    .inner{
        max-width: 1440px;
        margin: 0 auto;
        padding: 250px 100px 275px 100px;
        display: flex;
        justify-content: center;
        @include responsive(lg){
            padding: 250px 100px 320px 100px;
        }
        @include responsive(md){
            padding: 100px 80px 140px 80px;
        }
        @include responsive(sm){
            padding: 100px 20px 135px 20px;
        }
        @include responsive(xs){
            padding: 60px 20px 50px 20px;
        }
        .content{
            text-align: center;
            color: #fff;
            max-width: 920px;
            padding-bottom: 35px;
            @include responsive(xs){
                padding-bottom: 20px;
                max-width: 378px;
            }
            .heading{
                font-family: 'Bentago';
                font-size: 87px;
                line-height: 1.3em;
                margin-bottom: 20px;
                font-weight: 500;
                @include responsive(md){
                    font-size: 70px;
                }
                @include responsive(sm){
                    font-size: 48px;
                }
            }
            .description{
                color: #fff;
                font-size: 18px;
                font-family: 'Charlevoix Pro';
                line-height: 1.8em;
                font-weight: lighter;
                @include responsive(md){
                    font-size: 16px;
                }
            }
        }
    }
}